<%= link_to admin_places_path, class: 'btn btn-outline-secondary border-0 ps-2' do %>
  <i class="fas fa-arrow-left"></i>
  <%= t('common.back_to_list') %>
<% end %>
<div class="ms-4 me-5">
  <%= render 'admin/places/place_header', place: @place %>
</div>

<%= render 'admin/places/place_tabs',
  place: @place,
  active: :products %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h3 class="mb-0"><%= t('product_listings.title.list') %></h3>
</div>

<%= render 'table', product_listings: @product_listings, place: @place %>
<%= render 'layouts/admin/pagination', paging_collection: @product_listings %>
