<h1>Place Details</h1>

<p><strong>Name (EN):</strong> <%= @place.name_en %></p>
<p><strong>Name (VI):</strong> <%= @place.name_vi %></p>
<p><strong>City:</strong> <%= @place.city_en.presence || @place.city_vi %></p>
<p><strong>Address:</strong> <%= @place.address_en.presence || @place.address_vi %></p>
<p><strong>Open:</strong> <%= @place.open_time.strftime('%H:%M') if @place.open_time %></p>
<p><strong>Close:</strong> <%= @place.close_time.strftime('%H:%M') if @place.close_time %></p>
<p><strong>Maintenance:</strong> <%= @place.maintenance_place ? 'Yes' : 'No' %></p>

<h3>Managers / Agencies</h3>
<ul>
  <% @place.place_managers.each do |pm| %>
    <% if pm.user %>
      <li><%= pm.user.full_name %> (<%= pm.user.role_name %>)</li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_admin_place_path(@place) %> |
<%= link_to 'Back', admin_places_path %>
