<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">

        <!-- Dashboard -->
        <%= link_to admin_root_path,
              class: "nav-link #{'active' if current_page?(admin_root_path)}" do %>
          <div class="sb-nav-link-icon">
            <i class="fa-solid fa-chart-simple"></i>
          </div>
          <%= t('sidebar.homepage') %>
        <% end %>

        <div class="sb-sidenav-menu-heading text-white text-uppercase fs-heading">
          <%= t('sidebar.manager') %>
        </div>

        <!-- Places tab side bar -->
        <%= link_to admin_places_path,
              class: "nav-link #{'active' if controller_name == 'places'}" do %>
          <i class="fas fa-map-marker-alt me-2"></i>
          <%= t('sidebar.places') %>
        <% end %>

        <!-- Sportfields tab side bar -->
        <%= link_to admin_sportfields_path,
              class: "nav-link #{'active' if controller_name == 'sportfields'}" do %>
          <i class="fas fa-futbol me-2"></i>
          <%= t('sidebar.sportfields') %>
        <% end %>

        <!-- Suppliers tab side bar -->
        <%= link_to admin_suppliers_path,
              class: "nav-link #{'active' if controller_name == 'suppliers'}" do %>
          <i class="fas fa-truck me-1"></i>
          <%= t('sidebar.suppliers') %>
        <% end %>

        <!-- Users tab side bar -->
        <%= link_to admin_users_path,
              class: "nav-link #{'active' if controller_name == 'users'}" do %>
          <i class="fas fa-user fa-fw me-1"></i>
          <%= t('sidebar.Users') %>
        <% end %>

        <div class="sb-sidenav-menu-heading text-white text-uppercase fs-heading">
          <%= t('sidebar.account') %>
        </div>

        <!-- Language menu -->
        <a class="nav-link collapsed"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#collapseLanguage"
          aria-expanded="false"
          aria-controls="collapseLanguage">
          <div class="sb-nav-link-icon">
            <i class="fas fa-globe"></i>
          </div>
          <%= t('language.title') %>
        </a>

        <div class="collapse"
            id="collapseLanguage"
            data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">

            <%= link_to url_for(locale: :en),
                  class: "nav-link #{'active' if I18n.locale == :en}" do %>
              🇺🇸 <%= t('language.english') %>
            <% end %>

            <%= link_to url_for(locale: :vi),
                  class: "nav-link #{'active' if I18n.locale == :vi}" do %>
              🇻🇳 <%= t('language.vietnamese') %>
            <% end %>

          </nav>
        </div>

        <!-- Logout -->
        <% if admin_user_signed_in? %>
          <%= button_to destroy_admin_user_session_path,
                method: :delete,
                class: 'nav-link btn btn-link text-start' do %>
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-circle-arrow-left"></i>
            </div>
            <%= t('sidebar.logout') %>
          <% end %>
        <% end %>

      </div>
    </div>
  </nav>
</div>
