<div>
  <div class='row pb-5 align-items-center'>
    <h5 class='col-4'><%= t('sportfields.title.list')%></h5>
    <div class='col-8 pe-4'>
      <%= render 'admin/sportfields/search_form'%>
    </div>
  </div>
  <div class="d-flex justify-content-end pe-5 me-1">
    <%= link_to new_admin_sportfield_path, class: 'btn btn-outline-primary me-3' do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <%= t('sportfields.buttons.create_sportfield') %>
    <% end %>
  </div>

  <%= render 'table_sportfields', sportfields: @sportfields, q: @q %>
  <%= render 'layouts/admin/pagination', paging_collection: @sportfields %>
</div>
