<div class="modal fade" id="changeRoleModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"><%= t('users.buttons.change_role') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <%= form_for [:admin, @user],
            url: update_role_admin_user_path(@user),
            method: :patch do |form| %>

        <div class="modal-body">
          <div class="mb-3">
            <%= form.label :role_id, t('users.role'), class: 'form-label fw-bold' %>
            <%= form.select :role_id, @roles, {}, class: 'form-select' %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            <%= t('common.cancel') %>
          </button>
          <%= form.submit t('common.save'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
