<tr class="align-items-center">
  <td >
    <%= image_tag 'default-avatar.png', class: 'img-fluid rounded-circle mb-2', width: 30, height: 30 %>
  </td>
  <td scope="row" class="text-start ps-1 col-1 text-truncate" title="<%= user.full_name %>"><%= user.full_name %></td>
  <td scope="row" class="text-start ps-1 col-1 text-truncate" title="<%= user.username %>"><%= user.username %></td>
  <td class="text-start col-2 text-truncate" title="<%= user.email %>"><%= user.email %></td>
  <td><%= user.role_name %></td>
  <td><%= user.phone %></td>
  <td><%= format_datetime(user.created_at) %></td>
  <td><%= format_datetime(user.updated_at) %></td>
  <td>
    <%= link_to admin_user_path(user), class: 'btn' do %>
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    <% end %>
    <% unless user.admin? || user == current_user %>
      <div class="btn"><i class="fa fa-trash text-danger" aria-hidden="true"></i></div>
    <% end %>
  </td>
</tr>
