<div>
  <div class='row pb-5 align-items-center'>
    <h5 class='col-4'><%= t('users.title.list')%></h5>
    <div class='col-8 pe-4'>
      <%= render 'admin/users/search_form'%>
    </div>
  </div>
  <div class="d-flex justify-content-end pe-5 me-1">
    <%= link_to new_admin_user_path, class: 'btn btn-outline-primary me-3' do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <%= t('users.buttons.create_user') %>
    <% end %>
    <%= link_to deleted_admin_users_path, class: 'btn btn-outline-danger' do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
      <%= t('users.title.deleted') %>
    <% end %>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to admin_users_path(q: params[:q]&.to_unsafe_h&.merge(role_name_eq: 'user')),
        class: "nav-link nav-tab #{'active' if param_role_name_eq?('user')}" do %>
        User
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_users_path(q: params[:q]&.to_unsafe_h&.merge(role_name_eq: 'agency')),
        class: "nav-link nav-tab #{'active' if param_role_name_eq?('agency')}" do %>
        Agency
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_users_path(q: params[:q]&.to_unsafe_h&.merge(role_name_eq: 'admin')),
        class: "nav-link nav-tab #{'active' if param_role_name_eq?('admin')}" do %>
        Admin
      <% end %>
    </li>
  </ul>
  <table class='table table-striped text-center align-middle'>
    <thead>
      <tr>
        <th><%= t('users.avatar') %></th>
        <th class="text-start"><%= sort_link(@q, :full_name, t('users.name'), default_order: :desc) %></th>
        <th class="text-start"><%= sort_link(@q, :username, t('users.username'), default_order: :desc) %></th>
        <th class="text-start"><%= sort_link(@q, :email, default_order: :desc) %></th>
        <th><%= sort_link(@q, :role_name, t('users.role'), default_order: :desc) %></th>
        <th><%= t('users.phone') %></th>
        <th><%= t('users.gender') %></th>
        <th><%= sort_link(@q, :created_at, t('users.created_at'), default_order: :desc) %></th>
        <th><%= sort_link(@q, :updated_at, t('users.updated_at'), default_order: :desc) %></th>
        <th><%= t('users.action') %></th>
      </tr>
    </thead>
    <tbody class='table-group-divider'>
      <% if @users.any? %>
        <%= render @users %>
      <% else %>
        <tr>
          <td class='text-center' colspan='10'><%= t('users.no_users') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'layouts/admin/pagination', paging_collection: @users %>
</div>
