<div class="card shadow-sm border-0 w-50 d-flex flex-column mx-auto">
  <div class="card-header d-flex justify-content-start align-items-center bg-light text-dark p-3">
    <%= link_to back_to_list, class: 'btn' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h5 class="mb-0 text-center"><%= t('users.title.create')%></h5>
  </div>

  <div class="card-body p-4 bg-light">
    <%= form_for [:admin, @user] do |form| %>
      <div class="mb-3 mt-3">
        <%= form.label :email, t('users.email'), class: 'form-label fw-bold' %>
        <%= form.text_field :email, class: 'form-control', placeholder: t('users.placeholders.email') %>
        <%= render 'admin/users/field_error_create_form', object: @user, field: :email %>
      </div>

      <div class="mb-3">
        <%= form.label :username, t('users.username'), class: 'form-label fw-bold' %>
        <%= form.text_field :username, class: 'form-control', placeholder: t('users.placeholders.username') %>
        <%= render 'admin/users/field_error_create_form', object: @user, field: :username %>
      </div>
      <div class="mb-3">
        <%= form.label :password, t('users.password'), class: 'form-label fw-bold' %>
        <%= form.password_field :password, class: 'form-control', placeholder: t('users.placeholders.password') %>
        <%= render 'admin/users/field_error_create_form', object: @user, field: :password %>
      </div>
      <div class="mb-3">
        <%= form.label :password_confirmation, t('users.password_confirmation'), class: 'form-label fw-bold' %>
        <%= form.password_field :password_confirmation, class: 'form-control', placeholder: t('users.placeholders.password_confirm') %>
        <%= render 'admin/users/field_error_create_form', object: @user, field: :password_confirmation %>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :phone, t('users.phone'), class: 'form-label fw-bold' %>
          <%= form.text_field :phone, class: 'form-control', placeholder: t('users.placeholders.phone') %>
          <%= render 'admin/users/field_error_create_form', object: @user, field: :phone %>
        </div>

        <div class="col-md-6">
          <%= form.label :role_id, t('users.role'), class: 'form-label fw-bold w-100' %>
          <%= form.select :role_id, @roles, {}, class: 'form-select'%>
        </div>
      </div>

      <div class="text-center mt-4">
        <%= form.submit t('users.buttons.create'), class: 'btn btn-primary w-100 px-4 py-2 mt-3' %>
      </div>
    <% end %>
  </div>
</div>
