<tr class="align-items-center">
  <td scope="row" class="text-start ps-1 col-1 text-truncate" title="<%= supplier.name %>"><%= supplier.name %></td>
  <td scope="row" class="text-start ps-1 col-1 text-truncate" title="<%= supplier.code %>"><%= supplier.code %></td>
  <td class="text-start col-2 text-truncate" title="<%= supplier.email %>"><%= supplier.email %></td>
  <td><%= supplier.phone %></td>
  <td><%= format_datetime(supplier.created_at) %></td>
  <td><%= format_datetime(supplier.updated_at) %></td>
  <td>
    <div class="d-inline-flex align-items-center gap-2">

      <% if supplier.is_active? %>
        <!-- Edit button -->
        <%= link_to edit_admin_supplier_path(supplier),
                    class: 'btn text-primary' do %>
          <i class="fa fa-pen"></i>
        <% end %>
        <!-- Delete button -->
        <button type="button"
                class="btn text-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteSupplierModal-<%= supplier.id %>">
          <i class="fa fa-trash"></i>
        </button>
      <% else %>
        <!-- Restore button -->
        <%= button_to restore_admin_supplier_path(supplier),
              method: :patch,
              params: { return_to: request.fullpath },
              class: 'btn text-success' do %>
          <i class="fa fa-rotate-left"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>

<%= render 'admin/suppliers/confirm_delete_modal', supplier: supplier %>
