<div class="img js-fullheight bg-navbar" style="background-image: url(<%= asset_path('bg-navbar.jpeg') %>);">
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <%= image_tag "logo.png", alt: "Sportify Logo", width: 40, height: 40, class: "d-inline-block align-text-top" %>
      SPORTIFY
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <%= link_to I18n.t('navbar.home'), root_path, class: 'nav-link', 'aria-current': 'page' %>
        </li>
        <li class="nav-item active">
          <%= link_to I18n.t('navbar.booking'), root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to I18n.t('navbar.news'), root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to I18n.t('navbar.about'), root_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll d-flex align-items-center" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= I18n.t('language.language') %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><%= link_to I18n.t('language.english'), url_for(locale: :en), class: "dropdown-item" %></li>
            <li><%= link_to I18n.t('language.vietnamese'), url_for(locale: :vi), class: "dropdown-item" %></li>
          </ul>
        </li>
      <% if user_signed_in? %>
        <!-- Notification dropdown -->
        <li class="nav-item navbar-item dropdown me-3">
          <div class="nav-link" id="navbarNotificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-bell-fill fs-5"></i>
          </div>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarNotificationDropdown">
            <li>
              <h6 class="dropdown-header text-center bg-light fw-semibold">
                <i class="bi bi-bell me-1"></i> <%= I18n.t('navbar.notifications') %>
              </h6>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><span class="dropdown-item text-muted text-center">No new notifications</span></li>
          </ul>
        </li>

        <!-- Account dropdown -->
        <li class="nav-item navbar-item dropdown">
          <%= link_to "#", id: "navbarAccountDropdown", class: "nav-link d-flex align-items-center", role: "button", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" } do %>
            <div>
              <%= image_tag "default-avatar.png", class: "rounded-circle me-2", width: 32, height: 32 %>
              <span class="d-none d-md-inline"><%= current_user.username %></span>
            </div>
          <% end %>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAccountDropdown">
            <li><%= link_to I18n.t('navbar.my_account'), user_path(current_user.user_id), class: 'dropdown-item' %></li>
            <li><%= link_to I18n.t('navbar.booking_history'), root_path, class: 'dropdown-item' %></li>
            <li><%= link_to I18n.t('navbar.change_password'), root_path, class: 'dropdown-item' %></li>
            <li><%= button_to I18n.t('login.logout'), destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item navbar-item ms-4"><%= link_to I18n.t('login.login'), new_user_session_path, class: 'btn btn-primary me-3 ps-4 pe-4' %></li>
        <li class="nav-item navbar-item"><%= link_to I18n.t('login.sign_up'), new_user_registration_path, class: 'btn btn-outline-secondary ps-3 pe-3' %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
</div>
