<!DOCTYPE html>
<html>
  <head>
    <title>Sportify</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="img js-fullheight mt-5" style="background-image: url(<%= asset_path('bg-login.avif') %>);">
    <%= yield %>
  </body>
</html>
