<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('place_managers.place') %></th>
      <th><%= t('place_managers.adress') %></th>
      <th><%= t('place_managers.user') %></th>
      <th><%= t('place_managers.user_email') %></th>
      <th><%= t('place_managers.user_contact') %></th>
      <th><%= t('place_managers.action') %></th>
    </tr>
  </thead>
  <tbody class='table-group-divider'>
    <% if place_managers.any? %>
      <%= render place_managers %>
    <% else %>
      <tr>
        <td class='text-center' colspan='6'><%= t('places.no_place_managers') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
