<h1><%= t('place_managers.title.show') %></h1>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= @place_manager.place.try(:name_vi) || @place_manager.place.try(:name_en) %></h5>
    <p class="card-text"><strong><%= t('place_managers.user') %>:</strong> <%= @place_manager.user.try(:full_name) || @place_manager.user.try(:username) %></p>
    <p class="card-text"><strong><%= t('places.address') %>:</strong> <%= @place_manager.place.try(:address_vi) || @place_manager.place.try(:address_en) %></p>
  </div>
</div>

<%= link_to t('common.back'), admin_place_managers_path, class: 'btn btn-outline-secondary' %>
